section#layer-video.modal-layer
    .topMenu.menuContainer
      .tit 리뉴얼강좌 소개
    .videoContainer
      video#videoPlayer(src="" controls autoplay)
    .bottomMenu.menuContainer
      .buttonGroup
        Button=""
        Button.questionButton="질문하기"
        Button=""
    button.closeButton.videoLayerClose X 
    

