extends mainLayout

block content
  link(rel="stylesheet", href="/stylesheets/lecture.css")
  form#lecture(action="/upload/lecture", method="post", enctype="multipart/form-data")
    section#headerInfo.create
      .container
        .mainContainer
          .mainImage
            .bg
              img#lectureImage(src="/images/lecture/nodebirds.png", alt="강의이미지")
              
            .center
              <span class="infd-icon"><svg width="100" fill="rgba(0, 0, 0, 0.5)" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="play-circle" class="svg-inline--fa fa-play-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="rgba(0, 0, 0, 0.5)" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm115.7 272l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z"></path></svg></span>
          .mainInfo
            .tit
              input#input_title(type="text" name="title" placeholder="강의 제목")
              input#button_duplicate(type="button", value="중복확인")
            .img
              label(for="lecture_bg") 강의 이미지
              input#lecture_bg(type="file", name="lecture_bg", onchange="setThumbnail(event);")          
                 
            //- .desc
            //-   .item
            //-     span.col 스킬태그
            //-     span.val
            //-       input#input_tag(type="text" name="skillTag" placeholder="#태그1#태그2#태그3")
                
    section#bodyInfo.create
        .container
          //- lectureInfo 
          .lectureInfo.layer.on
            .info.box
              .tit 강의 설명
              .desc
                textarea#input_descript(name="descript", cols="30", rows="10" placeholder="강의설명")
            .info.box.price
              .tit 가격
              .desc
                input#input_price(type="number", name="price" placeholder="무료라면 0을 입력")
                span 원
          #lectureList.lectureList.layer.on
              .main_tit 
                span 교육과정
                .main.buttonGroup
                  button.button_sectionAdd.greenButton 색션 추가
              //- .section.id1
                .section_list
                  .section_main
                    .main_tit 
                      input.input_sectionTit(type="text", name="section_tit" placeholder="색션 제목")
                    .totalInfo 
                      .buttonGroup
                        button.button_chapterAdd.greenButton(onclick="") 챕터 추가
                        button.button_sectionRemove.orangeButton() 색션 제거
                      
                  .section_item.chapterId1(index="1_1" lecture="database1" author="egoing")
                    span.icon_play.icon
                    span.tit 
                      input.chapterName(type="text", name="chapter_text", placeholder="챕터제목")  
                    input.media(type="hidden", name="media")
                    button.button_chapterRemove.orangeButton 챕터 제거
                  .section_item.chapterId2(index="1_2" lecture="database1" author="egoing")
                    span.icon_play.icon
                    span.tit 리뉴얼 강좌 소개2
                    button.button_chapterRemove.orangeButton 챕터 제거
                  .section_item.chapterId3(index="1_3" lecture="database1" author="egoing")
                    span.icon_play.icon
                    span.tit 리뉴얼 강좌 소개3
                    button.button_chapterRemove.orangeButton 챕터 제거
          .submit
            input(type="submit", value="전송")
    
  section#layer-makeChapter.modal-layer
    .top_tit 챕터 만들기
    .content
      input#input_chapterName(type="text", name="chapterName" placeholder="챕터이름")
      input#input_tempMedia(type="file", name="tempMedia")
    .resultMenu
      button.button_makeChapter 챕터 만들기
    .closeButton X

block script
  script(src="/javascripts/lecture_create.js")