section#layer-video.modal-layer
    .topMenu.menuContainer
      .tit 리뉴얼강좌 소개
    .videoContainer
      video#videoPlayer(src="/video/egoing/database1/database_1_1.mp4" controls autoplay)
    .bottomMenu.menuContainer
      .buttonGroup
        Button="< 이전강의"
        Button="다음강의 >"
    button.closeButton.videoLayerClose X
