section#layer-question.modal-layer
      .container
        .tit 질문하기
        form.layer-question(action="/question", method="post")
          input(type="hidden", name="lecture_id", value=lecture_Data.id)
          .tit
            input#question_tit(type="text", name="tit" placeholder="질문 제목")
          .descript
            textarea#question_descript(name="descript" placeholder="질문 내용")
          .submit
            input(type="submit", value="작성완료")
        .questionLayerClose X