@charset "utf-8";

#body {
  padding-top: 0;
}
#headerInfo {
  background: #2c2e37;
}
.container {
  max-width: 1200px;
}
/* headerInfo */
#headerInfo .container {
  padding: 40px 0; 
  display: flex;
  flex: 1 auto;
}
.mainContainer {
  width: 66.7%;
  display: flex;
  flex: 1 auto;
}
.buttonMenu {
  width: 33.3%;
}
.mainImage {
  position: relative;
  width: 295px;
  height: 195px;
}
.mainImage .bg { width: 100%; height: 100%; }
.center { 
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.mainInfo {
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
}
.mainInfo .tit { font-size: 24px; text-align: left;}
.mainInfo .col {
  display: inline-block;
  padding-right: 20px;
}

/* #bodyInfo */
/* header_nav */
.header_nav {
  display: flex;
  border-bottom: 1px solid #666;
}
.header_nav div {
  padding: 20px;
  font-size: 16px;
  margin-bottom: -1px;
  cursor: pointer;
}
.header_nav > div.on {border-bottom: 3px solid #1dc078; font-weight: bold;}

/* lectureInfo */
.lectureInfo > div {
  margin-bottom: 40px;
}
.layer {
  display: none;
  padding: 40px 20px;
  width: 66%;
  position: relative;
}
.layer.on {
  display: block;
}
/* box */
.box {
  width: 100%;
  /* height: 300px; */
  padding: 10px 24px;
  background: #f5f8f8;
  margin-bottom: 10px;
  border-radius: 8px;
}
.box .tit {
  text-align: left;
  font-size: 24px;
}
.box .desc {
  font-size: 15px;
  font-weight: bold;
}
/* authInfo */
.main_tit {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 18px;
}
.profile {
  display: flex;
}
.profile_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.profile_name {
  width: 100px;
  height: 100px;
  padding-left: 20px;
  line-height: 100px;
  font-weight: bold;
  text-decoration-line: underline;
  font-size: 24px;
}
 /*lectureList*/
.totalInfo, .section, .section_item span {
  color: #595959;
  font-weight: bold;
}


.totalInfo {
  text-align: right;
  padding: 20px 0;
}
.total_time { margin-left: 10px;}
.section_main {position: relative;}
.section_main .main_tit {
  padding: 15px 20px;
  font-size: 22px;
  background: #f5f5f5;
  border-radius: 4px;
  margin-bottom: 0;
}
.section .totalInfo {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translate(0%, -50%);
  display: flex;
}
.section .totalInfo .total_time {
  display: flex;
  line-height: 20px;
}
.section_item {
  padding: 20px 40px;
  border-bottom: 1px solid #fbfbfb;
  position: relative;
  cursor: pointer;
}
.section_item .tit {
  font-size: 18px;
}
.section_item .icon_play{
position: absolute;
left: 10px;
}

.icon_time {
  background-image: url(/images/icon/icon_time.png);
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
.icon_play {
  background-image: url(/images/icon/icon_play.png);
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.fixedMenu {
  position: fixed;
  top: 89px;
  background: #ffffff;
  width: auto;
  border-radius: 4px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.05);
  border: 1px solid #e9ecef;
  padding: 20px 24px;
  /* right: 10%; */
}
.fixedMenu > div {
  margin-bottom: 20px;
  width: 270px;
  
}
.priceGroup {
}
.priceGroup .price {
  font-size: 30px;
  font-weight: bold;
}
.buttonGroup { 
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(2, 48px);
  gap: 10px;
} 
.buttonGroup .button { height: 100%; margin: 0; background: #fff; border: 1px solid #aaa;}
.buttonGroup .button_registration { 
  grid-column: 1/ span 2;
}

.infoGroup .info_line {     
  font-size: 14px;
  color: #868e96;
  margin-bottom: 4px;
}

#layer-video {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
}
#layer-video .menuContainer {
  background: #000;
  height: 10%;
}
#layer-video .closeButton {color: #fff; font-size: 30px;}
.topMenu {}
.topMenu .tit { color: #fff; font-size: 24px; padding-top: 4vh;}
#layer-video .videoContainer {
  height: 80%;
}
#layer-video .videoContainer video {
  width: 100%;
  height: 100%;
}
.bottomMenu .buttonGroup { grid-template-rows: 1fr; height: 100%; gap: 0;}
.bottomMenu .buttonGroup Button { background: transparent; color: #fff; font-size: 28px; border: 0px;}

/* question */
#layer-question {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
}
#layer-question .container {
  max-width: 1024px;
  margin: 15vh auto;
  background: #fff;
  position: relative;
}
#layer-question .container > .tit {
  background: #00c471;
  color: #fff;
  text-align: left;
  padding: 10px 20px;
  margin-bottom: 0;
}
#layer-question input, #layer-question textarea {
  width: 100%;
  height: 100%;
  border: 0;
} 
#layer-question form > div {
  width: 100%;
  margin-bottom: 0;
  height: 60px;
}
#layer-question form .tit input{
  font-size: 24px;
  padding: 10px 20px;
}
#layer-question form .descript {
  height: 400px;
  vertical-align: text-top;
}
#layer-question textarea  {
  padding: 10px 20px;
  font-size: 18px;
  /* font-weight: bold; */
  font-family: arial;
}
#layer-question input[type="submit"] {
  color: #1dc078;
  font-size: 26px;
}
#layer-question .questionLayerClose {
  position: absolute;
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  top: 0;
  right: 1%;
}
#layer-video .buttonGroup { grid-template-columns: repeat(3, 1fr);}
.QnA {
  position: relative;
}
.QnA input {
  margin: 0;
}
.authorIcon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  overflow: hidden;
}

.cardList {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.card {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 3px rgba(0,10,18,.1), 0 0 0 1px rgba(0,10,18,.1);
  margin-bottom: 20px;
  padding-left: 14%;
  padding-right: 30px;
}
.card .top {
  font-size: 14px;
  margin-bottom: 10px;
}
.card .top > span { margin-right: 4px;}
.card .tit {
  font-size: 18px;
  text-align: left;
}
.card .descript {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  max-height: 4.5rem;
  margin-bottom: 20px;
}
.card .bottomInfo {
  text-align: right;
  padding-right: 20px;
  font-weight: bold;
  font-size: 20px;
}
.bottom {
  display: flex;
}
.bottom .navSelector {
  width: 60%;
  text-align: center;
  line-height: 30px;
}
.bottom .navSelector .button {
  margin-right: 8px;
}
.button.on {
  background: #1dc078;
  color: #fff;
}
.bottom .nextButton, .bottom .prevButton {
  width: 20%;
  text-align: center;
}  
.bottom .button {
  font-size: 14px;
  padding: 5px 10px;
  width: auto;
  height: auto;
  margin: 0;
}
.create input, .create textarea {
  font-size: 22px;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.create textarea {
  font-size: 18px;
}
.create .price .desc input {
  width: 80%;
}
.create .price .desc span {
  font-size: 24px;
  margin-left: 10px;
}
.create .main_tit {position: relative;}
.create .main_tit input, .create .tit input {
  width: 60%;
}
.create .main.buttonGroup {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.create .buttonGroup {
  display: flex;
}
.create button {
  height: 100%;
  font-size: 20px;
  padding: 0 10px;
  padding: 4px 10px;
  font-size: 20px;
  border-radius: 8px;
  border: 0;
}
.create .section_item {
  border-bottom: 1px solid #666;
}
.create .section_item .button_sectionRemove,
.create .section_item .button_chapterRemove {
  position: absolute;
  font-size: 18px;
  right: 0;
  height: auto;
}
#layer-makeChapter {
  position: fixed;
  top: 25%;
  padding: 20px 40px;
  max-width: 600px;
}
#layer-makeChapter .closeButton { top: 0; right: 2%;} 
#layer-makeChapter .top_tit {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  background: #1dc078;
  color: #fff;
  font-weight: bold;
}
#layer-makeChapter .content {
  padding:40px 0;
}
.content input {
  font-size: 22px;
  margin-bottom: 10px;
  padding: 10px;
}
.resultMenu button {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  background: #00c471;
  color: #fdfdfd;
  font-size: 24px;
  font-weight: bold;
  border: 0;
}