@charset "utf-8";

* {margin: 0; padding: 0;   box-sizing: border-box;  } 
img {width: 100%; height: 100%;}
/* layout */
header {
  height: 80px;
  background: #ffffff;
  box-sizing: border-box;
  display: flex;
  box-shadow: 0 2px 4px 0 hsla(0,0%,80.8%,.5);
}
footer {
  padding: 40px 0;
  background: #303740;
  color: #bdbdbd;
}
header .container {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  max-width: 1500px;

}
#body { min-height: 800px; padding: 60px 0;}
.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1024px;
}
textarea { font-family: Arial;}
.greenButton {
  background: #00c471 !important;
  color: #fff !important;
  border: 0 !important;
}
.orangeButton {
 background: #f44336  !important; 
 color: #fff !important;
 border: 0 !important;
}
/* header */
header .mainLogo {}
.leftMenu, .rightMenu {
  display: flex;
  width: 100%;
  height: 100%;
}
.leftMenu > div, .rightMenu > div, .rightMenu > a {
  margin-left: 20px;
}
.rightMenu {
  display: flex;
  justify-content: flex-end;
}

.mainLogo {
  padding: 20px 0px;
}
/* 강의들 */
.mainNavigation {
  display: flex;
}
.mainNavigation .item {
  position: relative;
  width: auto;
  padding: 25px 0;
  padding-right: 30px;
  box-sizing: border-box;
  margin-left: 28px;
}
.mainNavigation .item{
  font-weight: bold;
  font-size: 20px;
}
.mainNavigation .item .icon_downArrow {
  position: absolute;
  top: 35%;
  right: 0;
}
.mainNavigation .item ul {
  display: none;
  position: absolute;
  top: 100%;
  background: #ffffff;
  width: 180px;
  height: 410px;
  box-shadow: 8px 5px 8px 1px rgba(0,10,18,.1), 0 0 0 1px rgba(0,10,18,.1);
}
.mainNavigation .item ul li {
  padding: 6px 10px;
  font-size: 16px;
}
.mainNavigation .item ul.detailNav {
  left: 100%;
  top: 0;
}

/* 오른쪽 메뉴 */
/* 검색 */
.searchContent { position: relative;}
.searchContent .icon_search {position: absolute; right: 10px; top: 35%;}
#searchText {
  box-sizing: border-box;
  width: 200px;
  padding: 10px 4px;
  height: 40px;
  margin-top: 20px;
  font-size: 16px;
  border: 0;
  background: #f6f6f6;
}
.button {
  border: 1px solid #666;
  border-radius: 4px;
  margin: 20px 0px;
  padding: 7px 20px;
  /* width: 80px; */
  height: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.joinButton {
  background: #ff7867;
  color:#fff;
}

/* footer */
footer .container > div { margin-bottom: 10px;}
.agreeContainer > span {
  border-right: 1px solid #bdbdbd;
  font-weight: bold;
  padding: 0 10px;
}
 
/* modal */
#layer-login {
  padding: 40px 40px ;
  width: 450px;
  border-radius: 8px;
}
#layer-login > div {
  text-align: center;
  margin-bottom: 28px;
}
#layer-login form > input {
  display: block;
  width: 100%;
  margin-bottom: 14px;
  border: 0;
  padding: 20px 10px;
  border-radius: 4px;
  font-size: 16px;
}
#layer-login input[type="submit"] {
  background: #1dc078;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
.linkGuideTab .desc {
  font-size: 18px;
  color: #808080;
  font-weight: bold;
}
.linkGuideTab a {
  font-size: 16px;
  color: #808080;
  text-decoration-line: underline;
}
#authLoginTab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4px;
  column-gap: 12px;
}
#authLoginTab button {
  color: #808080;
  background: #fff;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

#layer-login #id, #layer-login #password {
  background: #f6f6f6;
}
.closeButton {
  background: transparent;
  font-size: 24px;
  font-weight: bold;
  padding: 4px 10px;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 4%;
  top: 4%;
}
.modal {
  display: none;
  z-index: 500;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal-layer {
  display: none;
  position: absolute;
  z-index: 600;
  top: 15vh;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  padding: 0;
  font-size: 20px;
  background-color: #fff;
}

/* common */
#icon_brand_logo path {
  fill: #1dc078
}
.greenColor {
  color: #1dc078
}
.boldGreenColor {
  color: #1dc078;
}
section .tit { 
  text-align: center; 
  font-size: 28px; 
  font-weight: bold;
  margin-bottom: 25px;
}

/* IR 효과 */
.ir_pm {display:block; overflow:hidden; font-size:0; line-height:0; text-indent:-9999px;} /* 의미있는 이미지의 대체 텍스트를 제공하는 경우(Phark Method) */
.ir_wa {display:block; overflow:hidden; position:relative; z-index:-1; width:100%; height: 100%;} /* 의미있는 이미지의 대체 텍스트로 이미지가 없어도 대체 텍스트를 보여주고자 할 때(WA IR) */
.ir_so {overflow: hidden; position:absolute; width:0; height:0; line-height:0; text-indent:-9999px;} /* 대체 텍스트가 아닌 접근성을 위한 숨김 텍스트를 제공할 때 */

/* icon */
.icon {
  background-repeat: no-repeat;
  background-position: center;
}
.icon_downArrow {
  background-image: url(/images/icon/icon_downArrow.png);
  width: 22px;
  height: 22px;

}
.icon_search {
  background-image: url(/images/icon/icon_search.png);
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center;
}
.icon_default_profile {
  background-image: url(/images/profile/default_profile.png);
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-size: cover;
}

/* reset */
a {color: #111; text-decoration: none; outline: none}
a:hover, a:active {text-decoration: none; color:#111; background-color:transparent;}

ul{
  list-style:none;
  margin: 0;
  padding: 0;
  }
pre { font-family: auto;}
button { cursor: pointer;}

/* profile */
.profile {
  display: flex;
}
.profile > div {
  margin-top: 15px;
}
.profile .icon {
  margin-top: 22px;
}
.profile .nickName {
  font-weight: bold;
  margin-left: 10px;
}
.createLecture > a {
  display: block;
  margin-top: 20px;
}

.logoutButton {
  margin-left: 20px;
}